In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
Job = pd.read_csv('Train.csv')
train, test = train_test_split(Job, test_size = 0.2, random_state = 101)
job = train.copy()
job.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 687021 entries, 756932 to 821184
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   SEQUENCE_ID  687021 non-null  object
 1   SEQUENCE     687021 non-null  object
 2   CREATURE     687021 non-null  object
 3   LABEL        687021 non-null  object
dtypes: object(4)
memory usage: 26.2+ MB

In [3]:
job.head()

,SEQUENCE_ID,SEQUENCE,CREATURE,LABEL
756932,VQQ7BD3W,MTSADWPGRWVRERVGYEPRDLSLFRAALTHRSASGPNNERLEFLG...,creature8,class2
8695,0D8L7ZKC,MRVLAKTAYLLTTAALMSFGAVHMTSANEELMKMAENPKDWVMQTG...,creature5,class10
215007,91501LGM,MSSFDYLKTAIKQQGCTLQQVADASGMTKGYLSQLLNAKIKSPSAQ...,creature0,class19
126231,5AVRE4XO,MRESSKPRIKTSIGIVKKSKKSKGFFVEDATNESQFKLGKKEVYKV...,creature8,class2
71071,2ZI4ESJU,MRLNKKVCSSLFLVGPMGVGKTTVGKQLAWELSLKFIDSDEEIEAL...,creature8,class19